{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x600/?climate,change" class="d-block w-100" alt="burnt tree">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?climate,change,forest" class="d-block w-100" alt="half burnt forest">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?mining,climate" class="d-block w-100" alt="tree cut">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
{% endblock body %}